#hero {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

#tag {
    margin-top: 2rem;
    font-size: calc(1.15rem + 1.5vw);
    color: black;
    font-weight: bold;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: .5rem;
    font-family: "halyard-display", sans-serif;
}


#lead,
.alert .lead {
    font-size: 1.25rem;
    color: #212529bf;
    text-align: justify;
    margin-bottom: 0;
}

.alert {
    border: 3px #e51516 solid;
}

#fcrdcfda {
    max-width: 100%;
    max-height: 35px;
    height: auto;
}

#features h2 {
    text-align: center;
}

#features h2 span {
    position: relative;
}

#features h2 i {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateX(-1rem) translateY(-45%);
}

.feature {
    border-top: 1px solid var(--bs-border-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
}



@media (min-width:768px) {
    #hero {
        padding-top: 0;
        padding-bottom: 0;
    }

    #tag {
        margin-top: 0;
        font-size: 1.44rem;
    }

    #lead,
    .alert .lead {
        font-size: 1.05rem;
    }

    #features {
        margin-top: 4rem;
    }

    #features h2 {
        font-size: 1.3rem;
    }

    .feature {
        display: flex;
        flex-direction: column;
        border-top: none;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (min-width:992px) {
    #tag {
        font-size: 1.9rem;
    }

    #lead,
    .alert .lead {
        font-size: 1.25rem;
    }

    #fcrdcfda {
        max-height: 40px;
    }

    #features h2 {
        font-size: 1.75rem;
    }

    #features p {
        text-align: justify;
    }
}

@media (min-width:1200px) {
    #tag {
        font-size: 2.3rem;
    }

    #lead,
    .alert .lead {
        font-size: 1.5rem;
    }

    #features h2 {
        font-size: 2rem;
    }
}

@media (min-width:1400px) {
    #tag {
        font-size: 2.74rem;
    }

    #lead,
    .alert .lead {
        font-size: 1.5rem;
    }

    #features h2 {
        font-size: 2.25rem;
    }
}