html {
    scroll-behavior: auto !important;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#graph-loader,
#map-loader,
#category-list-loader,
#name-list-loader,
#facet-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#ngram-loader {
    height: 25vh;
    width: 100%;
}

#download .dropdown-header {
    white-space: unset;
}

#top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: auto;
}

.source {
    font-family: 'Special Elite', cursive;
}

#data-container dl a {
    text-decoration: none;
}

#data-container dd {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#data-container>.row {
    border-top: solid 1px var(--bs-border-color);
}

#data-container>.row:last-of-type {
    border-bottom: solid 1px var(--bs-border-color);
}

#viewerModal #mirador-viewer-frame {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
}

#viewerModal #mirador-viewer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#viewerModal .MuiTypography-colorPrimary {
    color: #0036f9;
}

#viewerModal .openseadragon-canvas:before {
    content: "";
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    border: 0.25em solid currentcolor;
    border-right-color: transparent;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -0.125em;
    border-radius: 50%;
    animation: spinner-border 0.75s linear infinite;
    z-index: 0;
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

/* viewerMap */
#big-map {
    height: 75%;
    width: 100%;
    border: 1px solid rgb(33, 37, 41);
}

@media (min-width: 768px) {
    #big-map {
        border: none;
    }
}

#map-results {
    font-family: "halyard-display", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}

#single-map {
    height: 70vh;
}

#big-map.leaflet-container,
#single-map.leaflet-container {
    font-family: "halyard-text", sans-serif;
}


#big-map .leaflet-popup-content {
    max-width: 275px;
}

.leaflet-popup-content h1 {
    font-size: 14px;
}

.leaflet-popup-content dd {
    margin-bottom: 0;
}

.leaflet-popup-content dt {
    margin-top: 0.5rem;
}

.leaflet-popup-content dt:first-of-type {
    margin-top: 0;
}

#mapModal .sm-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1500;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 1;
}

@media (max-width: 767px) {
    #map-legend {
        border-radius: 0;
        margin-top: 1rem;
    }

    #map-legend .btn-close {
        display: none;
    }

    @media (orientation: landscape) {
        #big-map {
            height: 100%;
            width: 100%;
        }

        #map-legend {
            position: absolute;
            top: 0;
            right: 0;
            width: 250px;
            z-index: 1500;
            margin: 1.25rem;
            max-height: calc(100% - 44px);
            overflow-y: auto;
        }

        #mapModal .sm-close {
            display: none;
        }

        #map-legend .btn-close {
            display: block;
        }
    }
}

@media (min-width: 768px) {
    #big-map {
        height: 100%;
        width: 100%;
    }

    #mapModal .sm-close {
        display: none;
    }

    #big-map .leaflet-popup-content {
        max-width: none;
        font-size: 12px;
    }

    #map-legend {
        position: absolute;
        top: 0;
        right: 0;
        width: 275px;
        z-index: 1500;
        margin: 2rem;
    }
}

@media (min-width: 992px) {
    #map-legend {
        width: 325px;
    }
}

@media (min-width: 1200px) {
    #map-legend {
        width: 350px;
    }

    #big-map .leaflet-popup-content {
        max-width: none;
        font-size: 13px;
    }

    .leaflet-popup-content h1 {
        font-size: 1rem;
    }
}

@media (min-width: 1400px) {

    .leaflet-popup-content h1 {
        font-size: 1.25rem;
    }
}

#dateRangeMap input[type="number"] {
    max-width: 6rem;
}

#date-map-slider.noUi-target {
    height: 0.5rem;
    background: #fec2be;
    cursor: pointer;
    border-color: transparent;
    border-radius: 1rem;
    box-shadow: none;
}

#date-map-slider .noUi-handle {
    width: 1rem;
    height: 1rem;
    right: -8px;
    top: -5px;
    background-color: #212529;
    border: 0;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: none;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#date-map-slider .noUi-handle.noUi-active {
    background-color: #424649;
}

#date-map-slider .noUi-handle:focus,
#date-map-slider .noUi-handle:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem #424649;
}

#date-map-slider .noUi-handle:before,
#date-map-slider .noUi-handle:after {
    content: none;
}

/* facets */
#facets .offcanvas-body {
    position: relative;
}

#facets .card,
#facets .card-header {
    border-color: var(--bs-list-group-border-color);
}

#facets .card:first-of-type {
    border-top: 0;
}

#facets .card:not(:last-of-type) {
    border-bottom: 0;
}

#facets .hidden-facets .list-group-item {
    border-width: 0 0 1px;
}

#facets .hidden-facets .list-group-item:first-child {
    border-top-width: 0;
}



.button-row button .action-container i {
    display: none;
}

@media (min-width: 768px) {

    .button-row button .action-container i {
        display: inline-block;
    }
}

/* search */
.search-info {
    justify-content: center;
}

@media (min-width: 768px) {
    .search-info {
        justify-content: end;
    }
}

/* typeahead */
.twitter-typeahead {
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

#advanced-search-data .twitter-typeahead {
    width: 100%;
}

.twitter-typeahead input.form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.twitter-typeahead .tt-menu {
    width: 100%;
    max-height: 75vh;
    overflow-y: auto;
    border-radius: .25rem;
    margin: 10px 0;
    background-color: var(--bs-body-bg);
    border: 1px solid rgb(33, 37, 41);
}

.twitter-typeahead .tt-dataset {
    border-radius: .25rem;
}

.twitter-typeahead .typeahead-header {
    font-size: 1rem;
    padding: .5rem 1rem;
    border-bottom: 1px solid rgb(33, 37, 41);
    border-top: 1px solid rgb(33, 37, 41);
    background-color: #212529;
    color: #fff;
    margin-bottom: 0;
}

.twitter-typeahead .tt-dataset:first-of-type .typeahead-header {
    border-top: 0;
}

.twitter-typeahead .tt-dataset .tt-suggestion {
    font-size: .9rem;
    padding: .5rem 1rem;
    cursor: pointer;
    border-bottom: 1px solid rgb(33, 37, 41);
}

.twitter-typeahead .tt-dataset .tt-suggestion:hover,
.twitter-typeahead .tt-dataset .tt-suggestion:focus,
.twitter-typeahead .tt-dataset .tt-suggestion.tt-cursor {
    background-color: #fec2be;
}

.twitter-typeahead .tt-dataset .tt-suggestion:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.twitter-typeahead .tt-dataset .tt-suggestion:last-child {
    border-bottom: 0;
}

/* advanced search */
.form-text {
    color: #212529;
}

#advanced-search-data textarea {
    resize: none;
    height: 38px;
}

#advanced-search-data .remove-adv {
    cursor: pointer;
}

#results {
    font-family: "halyard-display", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}

#query,
#map-query {
    font-family: "halyard-display", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

#query li,
#map-query li {
    margin-left: 19px;
}

#query li i,
#map-query li i {
    margin-left: -19px;
}

#graphModal .modal-body {
    min-height: 100vh;
}

#graphModal .graph:not(:last-of-type) {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgb(33, 37, 41);
}

.name-modal dd {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* categories  */
#name-list .modal-header {
    background-color: #f8e8e7;
}

#category-list .modal-body,
#name-list .modal-body {
    min-height: 50vh;
}

.category-list-search,
.name-list-search {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#category-list-columns,
#name-list-columns {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-gap: 2rem;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
}

@media (min-width:768px) {

    #category-list-columns,
    #name-list-columns {
        column-count: 3;
        -webkit-column-count: 3;
        -moz-column-count: 3;
    }
}

@media (min-width:1200px) {

    #category-list-columns,
    #name-list-columns {
        column-count: 4;
        -webkit-column-count: 4;
        -moz-column-count: 4;
    }
}