@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#data-container dd.source {
    font-family: 'Special Elite', cursive;
}

#data-container dl a {
    text-decoration: none;
}

#data-container>.row {
    border-top: solid 1px rgb(222, 226, 230);
}

#data-container>.row:last-of-type {
    border-bottom: solid 1px rgb(222, 226, 230);
}

#data-container>.row:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

#viewerModal #mirador-viewer-frame {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
}

#viewerModal #mirador-viewer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/* viewerMap */
#viewer-map {
    height: 70vh;
}

#viewer-map.leaflet-container {
    font-family: "halyard-text", sans-serif;
}

/* facets */
#facets .card {
    border-bottom: 0;
    border-top: 0;
}

#facets .card-header {
    border-bottom: 0;
}

#facets .hidden-facets .list-group-item:first-child {
    border-top: 0;
}

#facets .card button {
    border-top: 0;
}

#facets #dateRangeFacet {
    border-top: 1px solid rgba(0, 0, 0, .125);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

/* typeahead */
.twitter-typeahead {
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.twitter-typeahead input.form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.twitter-typeahead .tt-menu {
    width: 100%;
    max-height: 75vh;
    overflow-y: auto;
    border-radius: .25rem;
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.twitter-typeahead .tt-dataset {
    border-radius: .25rem;
}

.twitter-typeahead .typeahead-header {
    font-size: 1rem;
    padding: .5rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-top: 1px solid rgba(0, 0, 0, .125);
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 0;
}

.twitter-typeahead .tt-dataset:first-of-type .typeahead-header {
    border-top: 0;
}

.twitter-typeahead .tt-dataset .tt-suggestion {
    font-size: .9rem;
    padding: .5rem 1rem;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.twitter-typeahead .tt-dataset .tt-suggestion:hover,
.twitter-typeahead .tt-dataset .tt-suggestion:focus,
.twitter-typeahead .tt-dataset .tt-suggestion.tt-cursor {
    background-color: #f8f9fa;
}

.twitter-typeahead .tt-dataset .tt-suggestion:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.twitter-typeahead .tt-dataset .tt-suggestion:last-child {
    border-bottom: 0;
}

#results {
    font-family: "halyard-display", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #6c757d;
}

#query {
    font-family: "halyard-display", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #6c757d;
    margin-top: 0.5rem;
}