#map {
    height: 50vh;
}

#map.leaflet-container,
#single-map.leaflet-container {
    font-family: "halyard-text", sans-serif;
}

#map .leaflet-popup-content {
    max-width: 275px;
}

#single-map {
    height: 70vh;
}

@media (min-width: 768px) {
    #map .leaflet-popup-content {
        max-width: none;
    }
}

.leaflet-popup-content h1 {
    font-size: 1.25rem;
}

.leaflet-popup-content p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: .5rem;
}

.leaflet-popup-content ul {
    font-size: 1.25rem;
}

.listing {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.listing .list-head {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.listing p {
    margin-bottom: .5rem;
}