#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#graph-loader,
#map-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: auto;
}

.source {
    font-family: 'Special Elite', cursive;
}

#data-container dl a {
    text-decoration: none;
}

#data-container>.row {
    border-top: solid 1px rgb(222, 226, 230);
}

#data-container>.row:last-of-type {
    border-bottom: solid 1px rgb(222, 226, 230);
}

#data-container>.row:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

#viewerModal #mirador-viewer-frame {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
}

#viewerModal #mirador-viewer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/* viewerMap */
#big-map {
    height: 75%;
    width: 100%;
}

#map-results {
    font-family: "halyard-display", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #6c757d;
}

#single-map {
    height: 70vh;
}

#big-map.leaflet-container,
#single-map.leaflet-container {
    font-family: "halyard-text", sans-serif;
}


#big-map .leaflet-popup-content {
    max-width: 275px;
}

.leaflet-popup-content h1 {
    font-size: 14px;
}

.leaflet-popup-content dd {
    margin-bottom: 0;
}

.leaflet-popup-content dt {
    margin-top: 0.5rem;
}

.leaflet-popup-content dt:first-of-type {
    margin-top: 0;
}

#mapModal .sm-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1500;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 1;
}

@media (max-width: 767px) {
    #map-legend {
        border-radius: 0;
        margin-top: 1rem;
    }

    #map-legend .btn-close {
        display: none;
    }

    @media (orientation: landscape) {
        #big-map {
            height: 100%;
            width: 100%;
        }

        #map-legend {
            position: absolute;
            top: 0;
            right: 0;
            width: 250px;
            z-index: 1500;
            margin: 1.25rem;
            max-height: calc(100% - 44px);
            overflow-y: auto;
        }

        #mapModal .sm-close {
            display: none;
        }

        #map-legend .btn-close {
            display: block;
        }
    }
}

@media (min-width: 768px) {
    #big-map {
        height: 100%;
        width: 100%;
    }

    #mapModal .sm-close {
        display: none;
    }

    #big-map .leaflet-popup-content {
        max-width: none;
        font-size: 12px;
    }

    #map-legend {
        position: absolute;
        top: 0;
        right: 0;
        width: 275px;
        z-index: 1500;
        margin: 2rem;
    }
}

@media (min-width: 992px) {
    #map-legend {
        width: 325px;
    }
}

@media (min-width: 1200px) {
    #map-legend {
        width: 350px;
    }

    #big-map .leaflet-popup-content {
        max-width: none;
        font-size: 13px;
    }

    .leaflet-popup-content h1 {
        font-size: 1rem;
    }
}

@media (min-width: 1400px) {

    .leaflet-popup-content h1 {
        font-size: 1.25rem;
    }
}

#dateRangeMap input[type="number"] {
    max-width: 6rem;
}

#date-map-slider.noUi-target {
    height: 0.5rem;
    background: #dee2e6;
    cursor: pointer;
    border-color: transparent;
    border-radius: 1rem;
    box-shadow: none;
}

#date-map-slider .noUi-handle {
    width: 1rem;
    height: 1rem;
    right: -8px;
    top: -5px;
    background-color: #0036f9;
    border: 0;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: none;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#date-map-slider .noUi-handle.noUi-active {
    background-color: #b6d4fe;
}

#date-map-slider .noUi-handle:focus,
#date-map-slider .noUi-handle:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

#date-map-slider .noUi-handle:before,
#date-map-slider .noUi-handle:after {
    content: none;
}

/* facets */
#facets .card:first-of-type {
    border-top: 0;
}

#facets .card:not(:last-of-type) {
    border-bottom: 0;
}

#facets .hidden-facets .list-group-item {
    border-width: 0 0 1px;
}

#facets .hidden-facets .list-group-item:first-child {
    border-top-width: 0;
}

/* buttons */
.button-row {
    justify-content: center;
}

.button-row button .action-container i {
    display: none;
}

@media (min-width: 768px) {
    .button-row {
        justify-content: flex-start;
    }

    .button-row button .action-container i {
        display: inline-block;
    }
}

/* search */
.search-info {
    justify-content: center;
}

@media (min-width: 768px) {
    .search-info {
        justify-content: end;
    }
}

/* typeahead */
.twitter-typeahead {
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.twitter-typeahead input.form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.twitter-typeahead .tt-menu {
    width: 100%;
    max-height: 75vh;
    overflow-y: auto;
    border-radius: .25rem;
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.twitter-typeahead .tt-dataset {
    border-radius: .25rem;
}

.twitter-typeahead .typeahead-header {
    font-size: 1rem;
    padding: .5rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-top: 1px solid rgba(0, 0, 0, .125);
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 0;
}

.twitter-typeahead .tt-dataset:first-of-type .typeahead-header {
    border-top: 0;
}

.twitter-typeahead .tt-dataset .tt-suggestion {
    font-size: .9rem;
    padding: .5rem 1rem;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.twitter-typeahead .tt-dataset .tt-suggestion:hover,
.twitter-typeahead .tt-dataset .tt-suggestion:focus,
.twitter-typeahead .tt-dataset .tt-suggestion.tt-cursor {
    background-color: #f8f9fa;
}

.twitter-typeahead .tt-dataset .tt-suggestion:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.twitter-typeahead .tt-dataset .tt-suggestion:last-child {
    border-bottom: 0;
}

/* advanced search */
#advanced-search-data .select2-container--default .select2-search--inline .select2-search__field {
    font-size: 13px;
    margin-top: 0;
    vertical-align: sub;
}

#advanced-search-data .select2-container--default .select2-selection--multiple .select2-selection__choice {
    font-size: 13px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
}

#advanced-search-data .select2-container--default .select2-selection--multiple {
    padding: .375rem .75rem;
    border-color: #dee2e6;
    border-radius: 0.375rem;
}

#advanced-search-data .select2-container--default.select2-container--focus .select2-selection--multiple {
    padding: .375rem .75rem;
    border-color: #dee2e6;
    border-radius: 0.375rem;
}

#advanced-search-data .select2-container--open .select2-dropdown--below {
    border-radius: 0.375rem;
    border: 1px solid #dee2e6;
    margin-top: 5px;
    overflow: hidden;
}

#results {
    font-family: "halyard-display", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #6c757d;
}

#query,
#map-query {
    font-family: "halyard-display", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #6c757d;
    margin-top: 0.5rem;
}

#graphModal .modal-body {
    min-height: 100vh;
}

#graphModal .graph:not(:last-of-type) {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #dee2e6;
}

/* categories  */
#category-list-columns {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-gap: 2rem;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
}

@media (min-width:768px) {
    #category-list-columns {
        column-count: 3;
        -webkit-column-count: 3;
        -moz-column-count: 3;
    }
}

@media (min-width:1200px) {
    #category-list-columns {
        column-count: 4;
        -webkit-column-count: 4;
        -moz-column-count: 4;
    }
}